/* Цвет активных полей ввода */
input:focus,
textarea:focus,
select:focus{
    border-color: #4BA82E;
    box-shadow: 0 0 0 1px #4BA82E;
}
div.checkbox{
    background: #4BA82E;
}

/* Цвет рамки выделенных фотографий */
#images_list li:hover,
#images_list li.select{
    box-shadow: inset 0 0 0 10px #4BA82E;
}
/* Цвет кнопики 'далее' */
.next_btn{
    background: #4BA82E;
}

/* Логотип */
.logo{
	height: 90px;
	width: 170px;
	margin: -5px 0;
	background: url(../logo.png);
  background-repeat: no-repeat;
}


/* Слоган */
.tagline{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
	color: #666;
}

/* растояние между фотографиями (1px) */
#images_list li{
    width: calc(20% - 2px); /* (1px * 2) */
    margin: 1px;
}

/* стили для экрана "Спасибо" */
.form_ok{
	color: #fff;
	background: #4BA82E;
}